.container {
    width: 500px;
    overflow: hidden;
    height: 300px;
    border: 1px solid black;
}
.container-inner {
    width: 200%;
    display: flex;
}

.left {
    width: 50%;
    overflow: auto;
    height: 300px;
    border: 1px solid green;
    transition: margin 700ms;
    box-sizing: border-box;
}

.left_hidden {
    margin-left: -50%;
}

.right {
    width: 50%;
    overflow: auto;
    height: 300px;
    border: 1px solid red;
    box-sizing: border-box;
}