.root {
    height: 100%;
}

.App {
    text-align: center;
    height: 100%;
    font-size: 16px;
}

.container {
    width: calc(100%);
    max-width: 1024px;
    min-width: 300px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
}

.container-inner {
    width: 200%;
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    height: 100%;
}
