.left {
    width: calc(50%);
    overflow: auto;
    height: 100%;
    transition: margin-left 400ms;
    box-sizing: border-box;
    padding: 6px;
}

.left__inner {
    min-height: 100%;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}

.left_hidden {
    margin-left: -50%;
    border-right: none;
}